# dbt artifacts
target/
dbt_packages/
logs/

# Database (DuckDB)
*.duckdb

# Python
__pycache__/
*.pyc
.venv/
env/

# Setup script (não precisa ir para o repo)
setup_dbt.py

# User profiles
profiles.yml